{{#each portfolio}}
  <div class="card">
    <div class="hover-text-container">
      <div class="card-image" style={{this.bgImage}}></div>
      <div class="card-copy hover-text hover-text-hidden">
        <p>{{this.desc}}</p>
      </div>
    </div>
    <div class="card-header">
      <a href={{this.link}} target="_blank">
        <h4>{{this.title}}</h4>
      </a>
    </div>
  </div>
{{/each}}
