@import "../lib/bourbon/bourbon"; // or "bourbon" when in Rails
@import "../lib/neat/neat-helpers"; // or "neat-helpers" when in Rails

// Custom Grid Settings
$column: 40px;
$gutter: 44px;
$grid-columns: 4;
// $max-width: 2080px;

// Define your breakpoints
$desktop: new-breakpoint(min-width 780px 12);
$tablet: new-breakpoint(min-width 480px 8);
