body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;

  i {
    color: $secondary-font-color;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $contrast-font-color;
  font-family: $heading-font-family;
  font-size: modular-scale(1);
  line-height: $heading-line-height;
  margin: 0 $small-spacing / 4;
  padding: 0 $small-spacing / 4;
}

h1 {
  font-size: modular-scale(4);
  font-weight: 300;
  @include media($tablet) {
    font-size: modular-scale(7);
  }
}

h2 {
  font-size: modular-scale(4);
  font-weight: 300;
  @include media($tablet) {
    font-size: modular-scale(6);
  }
}

h3 {
  font-size: modular-scale(2);
  font-weight: 300;
  @include media($tablet) {
    font-size: modular-scale(4);
  }
}

h4 {
  font-size: modular-scale(2);
  font-weight: 300;
}

p {
  font-size: modular-scale(1);
  font-weight: 300;
  margin: 0 $base-spacing * 2 $small-spacing;
  @include media($tablet) {
    margin: 0 $base-spacing $small-spacing;
  }
  // @include media($mobile) {
  //   margin: 0 $small-spacing $small-spacing;
  // }
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;
  font-weight: 500;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

ul {
  // margin: 0 $base-spacing;

  li {
    padding: $base-spacing / 4 $base-spacing;
  }
}
hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}
