body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $contrast-font-color;
  letter-spacing: 1px;
  font-family: $heading-font-family;
  font-size: modular-scale(1);
  line-height: $heading-line-height;
  margin: $tiny-spacing;
}

h1 {
  font-size: modular-scale(4);
  font-weight: 300;
  @include media($tablet) {
    font-size: modular-scale(7);
  }
}

h2 {
  font-size: modular-scale(4);
  font-weight: 300;
  @include media($tablet) {
    font-size: modular-scale(6);
  }
}

h3 {
  font-size: modular-scale(2);
  font-weight: 300;
  @include media($tablet) {
    font-size: modular-scale(4);
  }
}

h4 {
  font-size: modular-scale(2);
  font-weight: 300;
  @include media($tablet) {
    font-size: modular-scale(3);
  }
}

p {
  color: $contrast-font-color;
  font-size: modular-scale(1);
  font-weight: 300;
  margin: $tiny-spacing;
  @include media($tablet) {
    // margin: $base-spacing $base-spacing * 2;
  }
  // @include media($mobile) {
  //   margin: 0 $small-spacing $small-spacing;
  // }
}

.list-box {
  font-size: modular-scale(1);
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
  transition: $quick-transition;
  font-weight: 500;

  &:active,
  &:focus,
  &:hover {
    color: $action-color;
  }
}

.icon-lg {
  font-size: modular-scale(4);
}

.icon-md {
  font-size: modular-scale(3);
}

ul {
  // margin: 0 $base-spacing;

  li {
    padding: $small-spacing;
    font-size: modular-scale(1);
    font-weight: 500;
  }
}
hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}
