// Breakpoints
$medium-screen: 600px;
$large-screen: 900px;

// Overwrite System Font Stack
$font-stack-system: (
  "Roboto",
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  "Oxygen",
  "Ubuntu",
  "Cantarell",
  "Fira Sans",
  "Droid Sans",
  "Helvetica Neue",
  sans-serif,
);

// Typography
$base-font-family: $font-stack-system;
$heading-font-family: $base-font-family;
$body-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 20px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;
$header-height: 72px;

// Colors
$blue: #1565c0;
$v-dark-gray: #222;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$white: #fff;

// Font Colors
$base-font-color: $v-dark-gray;
$contrast-font-color: $light-gray;
$action-color: $dark-gray;

// Border
// $base-border-color: $light-gray;
$base-border-color: $medium-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: $white;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;

// Shadows
$shadow-color: $v-dark-gray;
$base-box-shadow: 0 0 10px 0 $shadow-color;
$base-inset-shadow: 0 0 10px 0 $shadow-color inset;
$base-text-shadow: 0 1px 5px darken($shadow-color,100%);
