.box,
%box {
  align-items: center;
  display: flex;
  flex: 1 100%;
  flex-flow: column nowrap;
  justify-content: center;
  margin: $small-spacing / 2;
  transition: $quick-transition;

  &.shim {
    flex: 4 0;
    order: 100;
  }

  &.divider {
    flex: 1 100%;
    height: $base-spacing * 2;
    order: 100;
  }

  &.header-box {
    padding: $base-spacing * 2 0;
  }

  &.body-box {
    @extend %shadow;
    padding: $small-spacing;
  }

  &.list-box {
    @extend %shadow;
    flex: 1 auto;
    max-width: $base-spacing * 5;
    min-height: $base-spacing * 3;
    padding: $small-spacing;
  }

  &.desktop-only {
    display: none;

    @include media($desktop) {
      display: flex;
    }
  }
}
