.box.card {
  // align-items: stretch;
  display: flex;
  flex-flow: column nowrap;
  flex: 1 350px;
  justify-content: space-between;
  overflow: hidden;
  padding: $small-spacing / 2;

  .card-body {
    align-self: stretch;
    align-items: center;
    display: flex;
    flex: 0 auto;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: $small-spacing / 2;
    padding: 0 $small-spacing;
  }

  .card-header {
    flex: 1 100%;
    margin: 0;
    padding: 0;
    h4 {
      margin: 0;
      padding: 0;
    }
  }

  .card-image {
    @extend %shadow;
    @extend %circle;
    min-width: $base-spacing * 4.5;
    height: $base-spacing * 4.5;
    background-repeat: no-repeat;
    background-size: cover;

  }

  .card-copy {
    flex: 1 auto;
    @extend %textured;
    padding: $small-spacing / 2;
    p {
      color: $base-font-color;
      font-size: $base-font-size;
      margin: 0;
    }
  }
}
