.box.card {
  @extend %shadow;
  @extend %subtle;

  align-self: stretch;
  display: flex;
  flex-flow: column nowrap;
  flex: 1 350px;
  justify-content: space-between;
  margin: $small-spacing;
  max-width: 750px;
  overflow: hidden;
  padding: 0;

  .card-body {
    align-self: stretch;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex: 1 200px;
    flex-flow: column nowrap;
    opacity: 0.8;
  }

  .card-header {
    align-self: stretch;
    align-items: center;
    display: flex;
    flex: 0 auto;
    flex-flow: row nowrap;
    justify-content: center;
    padding: $small-spacing $tiny-spacing $tiny-spacing;

    h4 {
      a {
        margin: 0 $small-spacing / 2;
        transition: $quick-transition;
        font-weight: 500;

        &:active,
        &:focus,
        &:hover {
          color: $action-color;
        }
      }
    }
  }

  .card-copy {
    flex: 0 auto;
    opacity: .7;
    padding: $tiny-spacing $small-spacing / 2 $small-spacing;

    p {
      color: $base-font-color;
      margin: 0;

      a {
        transition: $quick-transition;

        &:active,
        &:focus,
        &:hover {
          color: $action-color;
        }
      }
    }
  }
}
