// NAVBAR STYLING

$icon-height: $base-spacing * 1.8;

nav {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.nav-menu-icon {
  @extend %textured;
  @extend %shadow;

  border-radius: 50%;
  height: $icon-height;
  line-height: $icon-height;
  margin: $small-spacing / 2;
  text-align: center;
  width: $icon-height;

  &:hover {
    background: $focus-background;
    cursor: pointer;
  }
}

.nav-menu {
  display: none;

  @extend %textured;
  @extend %shadow;

  li {

    &:hover {
      background: $focus-background;
      cursor: pointer;
    }
  }

  &.menu-open {
    display: block;
    max-width: 30vh;
  }
}

// For Larger Screens
@include media($desktop) {
  .nav-menu-icon {
    display: none;
  }

  .nav-menu {
    display: inline-block;
    float: right;
    height: $header-height;
    line-height: $header-height;
    max-width: 100%;
    text-align: center;
    width: 100%;

    ul {
      // margin: 0;

      li {
        font-size: modular-scale(1);
        text-transform: uppercase;
        line-height: $header-height / 2;
        display: inline-block;
        padding: 0 $small-spacing;
      }
    }
  }
}
