.box,
%box {
  // @extend %shadow;
  align-items: center;
  display: flex;
  flex: 1 100%;
  flex-flow: column nowrap;
  justify-content: center;
  margin: $small-spacing / 2;

  &.shim {
    flex: 4 0;
    order: 100;
  }

  &.divider {
    flex: 1 100%;
    height: $base-spacing * 2;
    order: 100;
  }

  &.header-box {
    padding: $base-spacing * 2 0;
  }

  &.body-box {
    justify-content: space-between;
    padding: $small-spacing;

    @include media($tablet) {
      flex: 1 350px;
    }
  }

  &.list-box {
    padding: $small-spacing;
    min-height: $base-spacing * 3;
    flex: 1 $base-spacing * 3;
  }

  &.desktop-only {
    display: none;

    @include media($desktop) {
      display: flex;
    }
  }
}
