
// GENERAL PAGE ELEMENTS //
body {
  @extend %textured;

  background-color: $light-tan;
}

// .row-wrapper {
//   @include row();
//
//   .outer-container {
//     @include outer-container;
//   }
// }

section {
  @extend %shadow;
  align-items: stretch;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  // margin-left: -$tiny-spacing; // Eliminate space on edges of boxes
  // margin-right: -$tiny-spacing;
  padding: $small-spacing;
  margin-bottom: $base-spacing;
  text-align: center;
}

@import 'boxes';

// STYLING CLASSES/EXTENDABLES
// For textured overlay elements
%textured,
.textured {
  @include texture(180deg, $base-background-color, $base-background-color, 48, 0);
}

// For drop-shadow elements
%shadow,
.shadow {
  box-shadow: $base-box-shadow;
}

// For inset-shadow elements
%inset,
.inset {
  box-shadow: $base-inset-shadow;
}

%circle,
.circle {
  border-radius: 50%;
}

.clickable {
  transition: $quick-transition;
  @extend %shadow;

  &:hover,:active {
    box-shadow: $dark-box-shadow;
    color: $action-color;
  }

  h4:hover,:active {
    color: $action-color;
  }
}

// ***SPECIFIC SECTIONS***

// NAVBAR HEADER
// See navbar.scss

// WELCOME SECTION
.welcome-section {
  box-shadow: none;
  min-height: 100vh;
  padding: 0;
}

#welcome-shim-1 {
  order: 1;
}

#title-box {
  min-height: 39vh;
  order: 2;

  @include media($desktop) {
    flex: 4 50%;
    // margin-left: $small-spacing / 2;
    // margin-right: $small-spacing / 2;
    padding-top: $header-height;
  }
}

#subtitle-box {
  min-height: 14vh;
  order: 3;

  @include media($desktop) {
    flex: 1 60%;
    // margin-right: $small-spacing / 2;
    order: 4;
  }
}

#portrait-box {
  flex: 1 auto;
  min-height: 44vh;
  min-width: 34vh;
  order: 4;

  @include media($desktop) {
    background-color: $dark-blue;
    order: 3;
    padding-top: $header-height;
  }

  #portrait-image {
    @extend %circle;
    @extend %shadow;
    max-width: 32vh;
  }
}

#welcome-shim-2 {
  order: 5;
}

// PORTFOLIO SECTION
#portfolio-header-box {
  // @include media($desktop) {
  //   flex: 1 60%;
  // }
}

// General Card Styling
@import 'cards';

// Particular Card Styling
#softsurv-card {
  order: 2;
}

#reztailor-card {
  order: 4;
}

#oto-card {
  flex: 1 100%;
  order: 1;

  .card-body {
    background-size: cover;
    background-position: center top;
  }

  @include media($desktop) {
    flex: 1 600px;
    order: 3;
  }
}

#tic-tac-toe-card {
  order: 6;
}

#mustachify-card {
  order: 8;
}

#cryptography-card {
  order: 10;
}

#portfolio-website-card {
  order: 12;
}


// SKILLS SECTION
.skills-section {
  .section-header.skills-section-header {
    background-color: $dark-blue;
  }

  .section-body.skills-section-body{
    .skill-list {
      li {
        display: inline-block;
        float: none;
        list-style: none;
        text-transform: uppercase;
      }
    }
  }
}

// ABOUT ME SECTION
.about-me-section {
  .section-header.about-me-section-header {
    background-color: $red;
  }
}

// CONTACT SECTION
.contact-section {
  .section-header.contact-section-header {
    background-color: $dark-blue;
  }
}

// FOOTER
footer {
  //
}
