
// GENERAL PAGE ELEMENTS //

.row-wrapper {
  @include row();
  border: $base-border; // for layout only

  .outer-container {
    @include outer-container;
    border: $base-border; // for layout only

    section {
      @include span-columns(8);
      @include shift(2);

      margin-bottom: 79px;
      margin-top: 88px;
      text-align: center;
      border: $base-border; // for layout only

      @include media($mobile) {
        @include shift(1);
        @include span-columns(10);
      }
    }
  }
}


// NAVBAR HEADER
header {
  @include span-columns(12);
  height: 72px;
  display:table;

  nav {
    float:right;
    line-height: 72px;

    & a {
      // font-size:18px;
      // color: $dark-gray;
      text-transform: uppercase;
      margin-right:40px;

      &:last-child {
        margin-right:9px;
      }
    }
  }
}
