
// GENERAL PAGE ELEMENTS //

.row-wrapper {
  @include row();
  // border: $base-border; // for layout only

  .outer-container {
    @include outer-container;
    // border: $base-border; // for layout only

    section {
      @include span-columns(10);
      @include shift(1);

      // border: $base-border; // for layout only
      margin-bottom: 79px;
      margin-top: 88px;
      text-align: center;

      // @include media($mobile) {
      //   @include shift(0);
      //   @include span-columns(12);
      // }
    }
  }
}

// For textured overlay elements
.textured {
  @include texture(180deg, $base-background-color, $base-background-color, 48, 0);
}

// For drop-shadow elements
.shadow {
  box-shadow: $base-box-shadow;
}

// ***SPECIFIC SECTIONS***

// NAVBAR HEADER
.navbar-wrapper {
  position: fixed;
  width: 100%;
}

header {
  @include span-columns(12);
  display: table;
  height: $header-height;
}

nav {
  float: right;
  line-height: 72px;

  a {
    // font-size:18px;
    // color: $dark-gray;
    margin-right: 40px;
    text-transform: uppercase;

    &:last-child {
      margin-right: 9px;
    }
  }
}

// WELCOME SECTION

.welcome-wrapper {
  background: linear-gradient($bg-sepia, $bg-clear), url('/assets/images/moosilauke_pix/hazy_sunset.jpg');
  background-position: 50% 35%; // xpos ypos
  background-repeat: no-repeat, repeat-x;
  background-size: cover;
  padding-top: $header-height;
}

.welcome-section {
  color: $contrast-font-color;
  padding: 120px 0;
  text-shadow: $base-text-shadow;
}



// PORTFOLIO SECTION
